ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  display: inline;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.nav-bar{ 
  float: left;
  padding:20px;
  margin-left: 400px;
}

.Cred{
  float: right;
  padding: 20px;

  
}


/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}